::ng-deep .mat-calendar-body-selected {
  background-color: #2e7d5c !important;
  color: white !important;
  border-radius: 10px !important;
  border-color: #2e7d5c !important;
  outline-color: #2e7d5c !important;
}
::ng-deep .mat-calendar-table-header {
  color: #2e7d5c !important;
  font-weight: bold !important;
}

::ng-deep .mat-calendar-period-button,
::ng-deep .mat-calendar-arrow {
  color: #2e7d5c !important;
  font-weight: bold;
}
