<div class="p-[30px] mb-8">
  <h2 class="text-[35px] font-medium text-primary mb-8">طلبات الانضمام</h2>

  <div class="bg-[rgba(217,217,217,0.4)] rounded-[10px] p-5 overflow-x-auto">
    <table class="w-full">
      <thead class="">
        <tr class="border-b text-primary text-[20px] bg-white">
          <th class="py-3 text-right">اسم الطبيب</th>
          <th class="py-3 text-right">التخصص</th>
          <th class="py-3 text-right">التاريخ</th>
          <th class="py-3 text-right">الاجراءات</th>
        </tr>
      </thead>
      <tbody>
        @for (request of requests; track request.id){
        <tr class="border-b last:border-0">
          <td class="py-4">
            <div class="flex items-center gap-2">
              <img
                [src]="request.doctorImage"
                class="w-[52px] h-[52px] rounded-full"
                [alt]="request.doctorName"
              />
              <div>
                <p>{{ request.doctorName }}</p>
              </div>
            </div>
          </td>
          <td class="py-4 text-[#7B7D82] text-[12px]">
            {{ request.specialization }}
          </td>

          <td class="py-4">
            <div
              class="text-[#7B7D82] text-[12px] text-center whitespace-nowrap"
            >
              <p>{{ request.date }}</p>
              <p>{{ request.time }}</p>
            </div>
          </td>
          <td class="py-4 flex gap-2">
            <button
              class="px-4 py-1 text-sm text-white border bg-primary rounded-[10px]"
            >
              تعديل
            </button>
            <button
              class="px-4 py-1 text-sm text-[#F61E1E] border border-[#F61E1E] rounded-[10px]"
            >
              حذف
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
    <div class="flex justify-between items-center mt-6">
      <p class="text-sm text-gray-500">عرض 1 من 10 من الملفات</p>
      <div class="flex gap-2">
        <button class="px-3 py-1 border rounded text-sm">السابق</button>
        <button class="px-3 py-1 bg-emerald-700 text-white rounded text-sm">
          1
        </button>
        <button class="px-3 py-1 border rounded text-sm">التالي</button>
      </div>
    </div>
  </div>
</div>
