<div class="p-6">
  <div class="flex justify-between items-center">
    <h2 class="text-[32px] font-bold text-primary">الجوائز والتكريمات</h2>

    <button
      class="px-4 py-2 border rounded-[10px] text-primary border-[#2E7D5C] mt-4"
    >
      إضافة أخرى
    </button>
  </div>

  <div class="bg-white p-4 mt-4 rounded-lg border border-green-300 shadow-sm">
    <div class="flex justify-between items-center border-b pb-2">
      <span
        class="text-primary text-[24px] sm:text-[20px] xs:text-[18px] font-bold"
        >الجوائز والتكريمات</span
      >
      <button class="text-red-500">حذف</button>
    </div>

    <div class="mt-4 flex gap-2">
      <input
        type="text"
        placeholder="اسم الجائزة"
        class="w-1/2 border p-2 rounded-md"
      />
      <input
        type="text"
        placeholder="سنة الحصول على الجائزة"
        class="w-1/2 border p-2 rounded-md"
      />
    </div>

    <textarea
      placeholder="الوصف"
      class="w-full border p-2 rounded-md mt-4"
    ></textarea>

    <div class="flex justify-end">
      <button
        class="px-4 py-2 mt-4 bg-white text-primary rounded-md border border-primary"
      >
        تم التعديل
      </button>
    </div>
  </div>

  <div class="mt-4 flex justify-between items-center border rounded-md p-2">
    <span class="text-primary text-[24px] font-bold">أفضل جراح أسنان</span>
    <button class="text-red-500">حذف</button>
  </div>

  <div class="mt-4 flex gap-2 justify-end">
    <button
      class="px-4 py-2 bg-white text-red-500 border border-red-500 rounded-md"
    >
      إلغاء
    </button>
    <button class="px-4 py-2 bg-primary text-white rounded-md">
      حفظ التعديلات
    </button>
  </div>
</div>
