<div class="p-10">
  <h2 class="text-[40px] font-bold text-primary mb-6">المرضى</h2>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <!-- كارت المريض -->
    <div class="bg-[rgba(168,213,186,0.3)] shadow-md rounded-lg p-6">
      <div class="flex items-center gap-3">
        <img src="patient.png" alt="المريض" class="" />
        <div>
          <h3 class="text-[16px] text-[#23262F]">إبراهيم الدسوقي</h3>
          <p class="text-[12px] text-[#7B7D82]">#00p123</p>
          <p class="text-[12px] text-[#7B7D82]">20 سنة | ذكر | O-</p>
        </div>
      </div>

      <div class="bg-white p-3 rounded-lg mt-4 flex flex-col items-center">
        <p class="text-sm text-gray-700 flex items-center gap-3">
          <i class="fa-solid fa-clock"></i>
          <span class="ml-2">28 مارس 2025 | 08:00 مساء</span>
        </p>
        <p class="text-sm flex items-center gap-3">
          <i class="fa-solid fa-location-dot"></i>
          <span class="ml-2 text-[#616161]">المنصورة، شارع الجلاء</span>
        </p>
      </div>

      <p class="text-xs text-[#4F5159] mt-4 border-t pt-2">
        اخر موعد حجز منذ 12 مارس 2023
      </p>
    </div>
    <div class="bg-[rgba(168,213,186,0.3)] shadow-md rounded-lg p-6">
      <div class="flex items-center gap-3">
        <img src="patient.png" alt="المريض" class="" />
        <div>
          <h3 class="text-[16px] text-[#23262F]">إبراهيم الدسوقي</h3>
          <p class="text-[12px] text-[#7B7D82]">#00p123</p>
          <p class="text-[12px] text-[#7B7D82]">20 سنة | ذكر | O-</p>
        </div>
      </div>

      <div class="bg-white p-3 rounded-lg mt-4 flex flex-col items-center">
        <p class="text-sm text-gray-700 flex items-center gap-3">
          <i class="fa-solid fa-clock"></i>
          <span class="ml-2">28 مارس 2025 | 08:00 مساء</span>
        </p>
        <p class="text-sm flex items-center gap-3">
          <i class="fa-solid fa-location-dot"></i>
          <span class="ml-2 text-[#616161]">المنصورة، شارع الجلاء</span>
        </p>
      </div>

      <p class="text-xs text-[#4F5159] mt-4 border-t pt-2">
        اخر موعد حجز منذ 12 مارس 2023
      </p>
    </div>
    <div class="bg-[rgba(168,213,186,0.3)] shadow-md rounded-lg p-6">
      <div class="flex items-center gap-3">
        <img src="patient.png" alt="المريض" class="" />
        <div>
          <h3 class="text-[16px] text-[#23262F]">إبراهيم الدسوقي</h3>
          <p class="text-[12px] text-[#7B7D82]">#00p123</p>
          <p class="text-[12px] text-[#7B7D82]">20 سنة | ذكر | O-</p>
        </div>
      </div>

      <div class="bg-white p-3 rounded-lg mt-4 flex flex-col items-center">
        <p class="text-sm text-gray-700 flex items-center gap-3">
          <i class="fa-solid fa-clock"></i>
          <span class="ml-2">28 مارس 2025 | 08:00 مساء</span>
        </p>
        <p class="text-sm flex items-center gap-3">
          <i class="fa-solid fa-location-dot"></i>
          <span class="ml-2 text-[#616161]">المنصورة، شارع الجلاء</span>
        </p>
      </div>

      <p class="text-xs text-[#4F5159] mt-4 border-t pt-2">
        اخر موعد حجز منذ 12 مارس 2023
      </p>
    </div>
    <div class="bg-[rgba(168,213,186,0.3)] shadow-md rounded-lg p-6">
      <div class="flex items-center gap-3">
        <img src="patient.png" alt="المريض" class="" />
        <div>
          <h3 class="text-[16px] text-[#23262F]">إبراهيم الدسوقي</h3>
          <p class="text-[12px] text-[#7B7D82]">#00p123</p>
          <p class="text-[12px] text-[#7B7D82]">20 سنة | ذكر | O-</p>
        </div>
      </div>

      <div class="bg-white p-3 rounded-lg mt-4 flex flex-col items-center">
        <p class="text-sm text-gray-700 flex items-center gap-3">
          <i class="fa-solid fa-clock"></i>
          <span class="ml-2">28 مارس 2025 | 08:00 مساء</span>
        </p>
        <p class="text-sm flex items-center gap-3">
          <i class="fa-solid fa-location-dot"></i>
          <span class="ml-2 text-[#616161]">المنصورة، شارع الجلاء</span>
        </p>
      </div>

      <p class="text-xs text-[#4F5159] mt-4 border-t pt-2">
        اخر موعد حجز منذ 12 مارس 2023
      </p>
    </div>
    <div class="bg-[rgba(168,213,186,0.3)] shadow-md rounded-lg p-6">
      <div class="flex items-center gap-3">
        <img src="patient.png" alt="المريض" class="" />
        <div>
          <h3 class="text-[16px] text-[#23262F]">إبراهيم الدسوقي</h3>
          <p class="text-[12px] text-[#7B7D82]">#00p123</p>
          <p class="text-[12px] text-[#7B7D82]">20 سنة | ذكر | O-</p>
        </div>
      </div>

      <div class="bg-white p-3 rounded-lg mt-4 flex flex-col items-center">
        <p class="text-sm text-gray-700 flex items-center gap-3">
          <i class="fa-solid fa-clock"></i>
          <span class="ml-2">28 مارس 2025 | 08:00 مساء</span>
        </p>
        <p class="text-sm flex items-center gap-3">
          <i class="fa-solid fa-location-dot"></i>
          <span class="ml-2 text-[#616161]">المنصورة، شارع الجلاء</span>
        </p>
      </div>

      <p class="text-xs text-[#4F5159] mt-4 border-t pt-2">
        اخر موعد حجز منذ 12 مارس 2023
      </p>
    </div>
    <div class="bg-[rgba(168,213,186,0.3)] shadow-md rounded-lg p-6">
      <div class="flex items-center gap-3">
        <img src="patient.png" alt="المريض" class="" />
        <div>
          <h3 class="text-[16px] text-[#23262F]">إبراهيم الدسوقي</h3>
          <p class="text-[12px] text-[#7B7D82]">#00p123</p>
          <p class="text-[12px] text-[#7B7D82]">20 سنة | ذكر | O-</p>
        </div>
      </div>

      <div class="bg-white p-3 rounded-lg mt-4 flex flex-col items-center">
        <p class="text-sm text-gray-700 flex items-center gap-3">
          <i class="fa-solid fa-clock"></i>
          <span class="ml-2">28 مارس 2025 | 08:00 مساء</span>
        </p>
        <p class="text-sm flex items-center gap-3">
          <i class="fa-solid fa-location-dot"></i>
          <span class="ml-2 text-[#616161]">المنصورة، شارع الجلاء</span>
        </p>
      </div>

      <p class="text-xs text-[#4F5159] mt-4 border-t pt-2">
        اخر موعد حجز منذ 12 مارس 2023
      </p>
    </div>
  </div>
  <div class="flex items-center justify-center mt-10">
    <a class="text-[24px] text-primary underline underline-offset-8"
      >مشاهدة المزيد</a
    >
  </div>
</div>
